
@media only screen and (max-width: 680px), only screen and (max-device-width: 680px) {
    table{	box-shadow: 2px 2px 2px #888888; 	}
}




table{
    margin-top:40px;
    box-shadow: 10px 10px 5px #888888;
}

H2 { text-align: center;

    display:block; width:600px; height:32px; background-color:#00376F; color:white;

    margin: 0 auto; padding-top:5px;

    box-shadow: 10px 10px 5px #888888; }

td{vertical-align:middle;}

.SideA{color:black; font-size:30px; height:400px; width:600px; vertical-align:middle; text-align:center; background-image:url(images/CardBG.gif); padding-left:10px; padding-right:10px;border: 1px solid #D3D3D3;text-decoration:none;}

.SideB{
    font-size:30px; height:400px; width:600px; vertical-align:middle; color:black;
    text-decoration: none; border: 1px solid #D3D3D3; text-align:center;  }

.SideA2{font-size:20px; min-height:75%; width:100%; vertical-align:middle; text-align:center; background-image:url(images/CardBG.gif); padding-left:10px; padding-right:10px;border: 1px solid #D3D3D3;text-decoration:none;}

.SideB2{
    font-size:20px; min-height:75%;
    width:100%; vertical-align:middle; background-image:url(images/CardBG2.png); color:#4A4A4A;
    text-decoration:none; border: 1px solid #D3D3D3; }

td a{text-decoration:none; !imporant;}

a{text-decoration:none;}
a:hover{text-decoration:none;}

.Review{font-size:25px; width:400px; vertical-align:middle; text-align:center; background-image:url(images/CardBG.gif); padding-left:10px; padding-right:10px; border: 1px solid #D3D3D3;text-decoration:none;}




.reset{


    font-size:12px;

    float:right;



    opacity:0.5;



}





.checked{

    font-size:12px;

    float:left;

    margin-top:-150px;

}






.center{
    margin:auto;
    width:580px;
    margin-top:-55px;
    font-size:18px;
    color:#667;
    vertical-align:middle;
    text-align: center;

}


.center2 {
    margin:auto;
    width:100%;
    margin-top:-30px;
    font-size:18px;
    color:#667;
    vertical-align:middle;
}


[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* One radio button per line */
label {
    display: block;
    cursor: pointer;
    font-size: 1.5em;
    padding-bottom:20px;
}



label:hover{
    color: red;
}



[type="radio"] + span {
    display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -0.25em;
    border-radius: 1em;
    border: 0.125em solid #fff;
    box-shadow: 0 0 0 0.15em #000;
    margin-right: 0.75em;
    transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
    background: green;
    box-shadow: 0 0 0 0.25em #000;
}

/* never forget focus styling */
[type="radio"]:focus + span:after {
    content: '\0020\2190';
    font-size: 1.5em;
    line-height: 1;
    vertical-align: -0.125em;
}

.YES{
    border: 5px solid black;

}
